@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;    
    --lcolor:rgb(155 73 34);
    --color1:#27150c;
    --color2:#cc9d7b;
    --white1:#e9e5dc;
    --pink1:#cfb6a2;
    --color4:#815034;
}
body{
    font-family: var(--sm-font);
    scroll-behavior: smooth;
}
/*buttons*/
.bg-primary{
    background-color:  var(--color1)!important;
 }
 .btn:not(.nav-btns button){
    background-color: var(--color4);
    color: var(--white1);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid var(--color4);
 }
 .btn:not(.nav-btns button):hover{
    background-color: var(--white1);
    color: var(--color4);
 }
 /* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--color2);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
/*start navbar*/
.navbar{
    box-shadow: 0 3px 9px 3px rgba(0,0,0,0.1);
}
.navbar-brand img {
    width: 3rem;
    border-radius: 2px;
 }
 .navbar-brand span {
    text-transform: uppercase!important;
    color: var(--lcolor);
    /*font-family: var(--lg-font);*/
    letter-spacing: 1px;

 }
.navbar .bg-primary{
    background-color: var(--lcolor)!important;
 }
 .nav-link{
    color: var(--color1)!important;
 }
 .nav-link:hover{
    color: var(--color2)!important;
 }
 .nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
 }

 /*end navbar*/

/*start header */
#header{
    background: url(../img/pbg.jpg)top/cover no-repeat;
    padding-top: 8rem;

}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}

/*end header */
/*start our collection*/
.our-collections .row{
    padding-top: 5rem;
    margin-left: 5rem;
    margin-right: 3rem;
}
.our-collections img{
    width: 29rem;
    height: 43rem;
}
.our-collections .men p{
    padding-top: 8rem;
    margin-left: 1rem;
}
.our-collections .men .btn{
    margin-left: 1rem;
}
.our-collections span{
    color: var(--color2);
}
.our-collections .women img{
    margin-left: 7rem;
    margin-top: -13rem;
}
.our-collections .women p{
    padding-top: 4rem;
}
/*end our collection*/
/*start collection*/
#collection .collection-list{
    margin-left: 10rem;
}
.star{
    color: var(--color2);
}
.active-filter-btn{
    background-color: var(--pink)!important;
    color: #fff!important;
    border-color: var(--pink)!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/*end collection*/
/* special */
.special-img span{
    top: 20px;
    right: 20px;
    color: var(--pink1)!important;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img span:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
/* offers */
#offers{
    background: url(../img/sale22.jpg) center/cover ;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    border-color: transparent!important;
}
/* newsletter */
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background-color: var(--color1);
    color: #fff;
    border-color: var(--color1);
}
#newsletter .btn:hover{
    background-color:var(--color2);
    border-color: var();
}
/* footer */
.footer{
    background-color:#d1ab7c;
}
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--color4)!important;
}



 /*media queries*/

/* to remove the border bottom in the big screen*/
@media(min-width:992px){
    .nav-item{
        border-bottom: none;
    }
 }
/* to remove padding in small screen*/
@media(max-width:1000px){
    .our-collections p{
        padding-top: 3rem;
    }
 }
 @media(max-width:1000px){
    .our-collections .women img{
        margin-left:0rem;
        margin-top: 3rem;
    }
 }
