/*
--lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;    
    --lcolor:rgb(155 73 34);
    --color1:#27150c;
    --color2:#cc9d7b;
    --white1:#e9e5dc;
    --pink1:#cfb6a2;
    --color4:#815034;
    */
    @import url('https://fonts.googleapis.com/css?family=Kaisei+Tokumin');
    .navbar{
      box-shadow: 0 3px 9px 3px rgba(0,0,0,0.1);
  }
  .navbar-brand img {
      width: 3rem;
      border-radius: 2px;
   }
   .navbar-brand span {
      text-transform: uppercase!important;
      color: var(--lcolor);
      /*font-family: var(--lg-font);*/
      letter-spacing: 1px;
  
   }
  .navbar .bg-primary{
      background-color: var(--lcolor)!important;
   }
   .nav-link{
      color: var(--color1)!important;
   }
   .nav-link:hover{
      color: var(--color2)!important;
   }
   .nav-item{
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
   }
  

    body {
      font-family: 'Kaisei Tokumin', sans-serif;
    }
    #cart {
      padding: 80px 0;
    }
    

#cart-container table{
  border-collapse:collapse;
  width:100%;
  table-layout:fixed;
}
#cart-container table thead {
  font-weight:700;
  font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;    
    --lcolor:rgb(155 73 34);

}
#cart-container table thead td {
  background:#cc9d7b ;
  color:#fff;
  border: none;
  padding: 6px 0;

}
#cart-container table img{
  height:60px;
  width:100px;
  object-fit: cover;
}
#cart-container table td{
  border:1px solid #b6b3b3;
  text-align:center;
}
#cart-container table td:nth-child(1) {
padding: 30px 0;
}
#cart-container table tbody i{
  color:#b6b3b3;
}
#cart-container table tbody i:hover{
  color:#b6b3b3;
  cursor: pointer;
}
#cart-bottom .coupon>div{
  border:1px solid #b6b3b3;
}

#cart-bottom .coupon h5 {
  background:#cc9d7b ;
  color:#fff;
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}
#cart-bottom .coupon p,
#cart-bottom .coupon input {
  padding :0 12px;
  height: 44px;
  margin : 0 0 12px 8px;
}
#cart-bottom .coupon button{
  padding :0 12px;
  height: 44px;
  margin : 0 0 12px 8px;
}
#cart-bottom .total>div {
  border:1px solid #b6b3b3;
}
#cart-bottom .total input {
  padding :0 12px;
  height: 44px;
  margin : 0 0 12px 8px;
}
#cart-bottom .total button{
  padding :0 12px;
  height: 44px;
  margin : 0 0 12px 8px;
}
#cart-bottom .total h5 {
  background:#cc9d7b ;
  color:#fff;
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}
#cart-bottom .total .titre {
padding: 0px 12px ;
}
#cart-bottom .total .aloo {
  padding: 0px 12px ;
  }
  .footer{
    background-color:#d1ab7c;
}
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--color4)!important;
}
@media(min-width:992px){
  .nav-item{
      border-bottom: none;
  }
}
/* to remove padding in small screen*/
@media(max-width:1000px){
  .our-collections p{
      padding-top: 3rem;
  }
}
@media(max-width:1000px){
  .our-collections .women img{
      margin-left:0rem;
      margin-top: 3rem;
  }
}